template(name='showPoll')
  .row
    h3 #{familyName}
    p.text-muted #{description}
  hr.soften
  .row
    button.btn.btn-default.btn-sm#newCandidate Add New
    div.modal.fade#modal
      div.modal-dialog
        div.modal-content
          div.modal-header
            button(type="button",class="close", data-dismiss="modal", aria-hidden="true") &times;
            h4.modal-title New Candidate
          div.modal-body
            form.form
              .form-group
                label.control-label(for='name') Name
                input#name.form-control(type='text', placeholder='name', required)
              .form-group
                label.control-label(for='description') Description (optional)
                input#description.form-control(type='text', placeholder='description')
              .form-group
                button.btn.btn-primary(type="submit", value='Submit') Submit
                button.btn.btn-default.pull-right#random Random
  .row
    each candidates
      div.entry
        span.name #{../familyName}#{name}
        p.text-muted #{description}
        p.text-muted
          span.icon-happy &nbsp;
          span.text-muted 32
          span &nbsp;
          span.icon-wondering &nbsp;
          span.text-muted 21
